.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
    margin: .1rem 0;
}
.input{
    width: 1.1rem;
    height: 1.1rem;
}
.label{
    font-size: 1.3rem;
    flex: 1 1 auto;
    margin-left: .5rem;
    color: var(--color-text);
}
.button{
    background-color: transparent;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}
.button svg{
    fill: var(--color-bg);
}
.icon{
    width: 26px;
    height: 26px;
    background-color: var(--color-grey);
    border-radius: 100%;
}
.icon:hover{
    background-color: var(--color-accent);
    transform: rotate(15deg) scale(1.2)
}